 @mixin flexCenter($direction,$background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;

  
}



header{
 @include flexCenter(column,red);


  background-color: lightblue;
  width:100% - 20%;

  color: $txtColor;
  button {
    background: $btnColor;
  &::after{
        content: " added";
    }


}
}